/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body {
  background-color: rgb(211, 211, 211);
  margin: 0;
  font-family: 'Poppins', sans-serif;
} */

nav {
  height: 80px;
  background-color: rgb(246, 246, 246);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 50px;
  height: 34px;
}

a {
  text-decoration: none;
}

.nav-left a {
  color: black;
  padding: 30px;
}

.nav-left ul {
  display: flex;
  list-style-type: none;
  text-align: center;
}

.nav-right {
  background-color: black;
  padding: 5px 20px;
  border-radius: 5px;
  margin-right: 90px;
}

.nav-right a {
  color: white;
}

.active {
  font-weight: bold;
}

.nav-left li:hover {
  font-weight: bold;
}

.logo:hover {
  transform: scaleX(-1);
}

.nav-right:hover,
.nav-right:active {
  background: rgb(67, 67, 67);
  font-size: larger;
}
