nav {
  height: 80px;
  background-color: rgb(246, 246, 246);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 50px;
  height: 34px;
}

a {
  text-decoration: none;
}

.nav-left a {
  color: black;
  padding: 30px;
}

.nav-left ul {
  display: flex;
  list-style-type: none;
  text-align: center;
}

.nav-right {
  background-color: black;
  padding: 5px 20px;
  border-radius: 5px;
  margin-right: 90px;
}

.nav-right a {
  color: white;
}

.active {
  font-weight: bold;
}

.nav-left li:hover {
  font-weight: bold;
}

.nav-right:hover,
.nav-right:active {
  background: rgb(67, 67, 67);
  font-size: larger;
}

#bars {
  display: none;
  padding: 0;
}

#bars button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-right: 20px;
  align-content: center;
}

@media screen and (max-width: 900px) {
  #bars {
    display: block;
  }

  .item-collapse {
    display: none;
  }
}
